{{- define "main" }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

{{- if .Content }}
<div class="post-content">
  {{ .Content }}
</div>
{{- end }}

{{- $appsDir := "static/apps" }}
{{- if fileExists $appsDir }}
{{- $entries := readDir $appsDir }}
{{- $hasApps := false }}
<div class="post-content">
  <ul>
    {{- range $entries }}
    {{- if .IsDir }}
    {{- $hasApps = true }}
    {{- $name := .Name }}
    {{- $basePath := printf "/apps/%s/" $name }}
    {{- $link := $basePath }}
    {{- if fileExists (printf "static/apps/%s/edit/index.html" $name) }}
      {{- $link = printf "/apps/%s/edit/" $name }}
    {{- else if fileExists (printf "static/apps/%s/shinylive/index.html" $name) }}
      {{- $link = printf "/apps/%s/shinylive/" $name }}
    {{- else if fileExists (printf "static/apps/%s/index.html" $name) }}
      {{- $link = $basePath }}
    {{- end }}
    <li><a href="{{ $link }}">{{ $name | humanize }}</a></li>
    {{- end }}
    {{- end }}
  </ul>

  {{- if not $hasApps }}
  <p>No se encontraron apps en <code>/static/apps</code>.</p>
  {{- end }}
</div>
{{- else }}
<div class="post-content">
  <p>No existe la carpeta <code>/static/apps</code>.</p>
</div>
{{- end }}
{{- end }}
